body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 75%;
    margin: auto;
}

header{
    display: flex;
    width: 80%;
    margin: auto;
    padding-top:10px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
header img{
    width: 150px;
    height: 100%;
}
header nav{
    width: 100%;
}
.home { 
    color:#28a6b3;
   
} 
 ul li{
    margin:10px;
}

 ul li a {
    text-decoration: none;
    font-weight: 500;
    color:black;
    font-size: 24px;
    transition: font-size, 1s ease-out;
}
ul li a:hover{
    color:#28a6b3;
    font-size: 24px;
}

footer{
    height: 270px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
}
footer ul li a{
    color: white;
}
footer ul li a:hover{
    color: #28a6b3;

}
footer ul{
    padding:0;
}
.icons{
    display: flex;
}
footer p{
    color: lightgray;
    margin: 10px;
}
.active{
    color: #28a6b3;
}
i{
    width: 50px;
    height: 50px;
    color: grey;
    text-align: center;
}
i::before{
    font-size: 25px;
    margin-bottom: 15px;
}

.videoDio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: white;
}

video{
    width: 40%;
    margin: auto;
    height: 350px;
}

.videoDio h1{
    font-size: 64px;
    color: #28a6b3;
    text-align: center;
}
.videoDio p{
    color: lightgray;
    font-size: 22px;
    text-align: center;
}

.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;
}
.gallery h1{
    font-size: 48px;
    color: #28a6b3;
    text-align: center;
}
.pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5px;
    padding:30px;
}
.pictures img{
    width: 100%;
    height: 350px;
}

.pictures img:hover{
    opacity: 0.7;
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .pictures{
        grid-template-columns: 1fr;
    }
    video{
        width: 100%;
        
    }
    header nav ul{
        position: fixed;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        background-color: black;
        color: white;
        opacity: .8;
        width: 100%;
        left: -5%;
        top: -2%;
        display: none;
        z-index: 2;
    }
    header{
        width: 150px;;
    }
    .open{
        display:flex;
    }
    nav ul li a{
        color: white;
        font-size: 24px;
    }
    nav ul li a:hover{
        color: #28a6b3;
    }
    #logo{
        z-index: 3;
        justify-content: center;
    }
    footer ul li a{
        font-size: 16px;
    }
    footer ul{
        flex-wrap:wrap;
    }
}
