body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 75%;
    margin: auto;
}

h1{
    font-size: 36px;
    color:gray;
    text-align: center;
}
header{
    display: flex;
    width: 80%;
    margin: auto;
    padding-top:10px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
header img{
    width: 150px;
    height: 100%;
}
header nav{
    width: 100%;
}
.home { 
    color:#28a6b3;
 
} 
 header nav ul li{
    margin:10px;
}
ul li a {
    text-decoration: none;
    font-weight: 500;
    color:black;
    font-size: 24px;
    transition: font-size, 1s ease-out;
}
ul li a:hover{
    color:#28a6b3;
    font-size: 24px;

}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    padding: 10px;
    margin-top: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.card img{
    width: 70%;
    margin: auto;
}
.card h2{
    font-size: 30px;
}
.card p{
    width: 70%;
    margin: auto;
    height: 70px;
    padding-bottom:30px;
    font-size: 18px;
    color: #888;
    

}
.dugmad{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button{
    padding: 10px 15px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-weight: 400;
    line-height: 18px;
    color: #000;
    background: #fff;
    border: 1px solid black;
    border-radius: 2px;
}
button:first-child{
    margin-left: 0px;
}
button:hover{
    color:white;
    background-color: black;
    cursor: pointer;
}

.room{
    background-image: url("../img/DodnFYa.jpg");
    margin: 20px 0px;
    width: 100%;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.room h1{
    color: white;
    text-align: center;
    font-size: 64px;
}

footer{
    height: 270px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
}
footer ul li a{
    color: white;
    font-size: 18;
    text-decoration: none;
    padding: 10px;
}
footer ul li a:hover{
    color: #28a6b3;

}
footer ul{
    padding:0;
}
.icons{
    display: flex;
}
footer p{
    color: lightgray;
    margin: 10px;
}
.active{
    color: #28a6b3;
}
i{
    width: 50px;
    height: 50px;
    color: grey;
    text-align: center;
}
i::before{
    font-size: 25px;
    margin-bottom: 15px;
}


@media only screen and (max-width: 768px){
    .cards{
        grid-template-columns: 1fr;
    }
    .card img{
        width: 80%;
        margin: auto;
    }
    nav ul{
        position: fixed;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        background-color: black;
        color: white;
        opacity: .8;
        width: 100%;
        left: -5%;
        top: -2%;
        display: none;
        z-index: 2;
    }

    .open{
        display:flex;
    }
    header{
        width: 150px;
    }
    nav ul li a{
        color: white;
        font-size: 24px;
    }
    nav ul li a:hover{
        color: #28a6b3;
    }
    #logo{
        z-index: 3  ;
        justify-content: center;
    }
    footer ul li a{
        font-size: 16px;
    }
    footer ul{
        flex-wrap:wrap;
    }
}